.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

body {
	background-color: #111;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	position: relative;
}

/* pcの電話番号発信対応 */

/* ホバー */

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

/* フォームリセット */

button,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

.c-btn {
	display: inline-block;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.1em;
	overflow: hidden;
	padding-bottom: 9px;
	padding-bottom: 0.5625rem;
	padding-top: 9px;
	padding-top: 0.5625rem;
	position: relative;
	text-align: center;
	text-indent: 0.1em;
	vertical-align: top;
	width: 335px;
	width: 20.9375rem;
}

.c-btn--normal {
	background-color: #333;
	border: 1px solid #fff;
}

.c-btn--pc-small {
	background-color: #333;
	border: 1px solid #fff;
}

.c-btn--submit {
	background-color: #fff;
	border: 0;
	color: #000;
}

.c-hamburger {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	height: 50px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.c-hamburger__line {
	background-color: #fff;
	border-radius: 0.0625rem;
	display: block;
	height: 2px;
	height: 0.125rem;
	position: relative;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	width: 26px;
	width: 1.625rem;
}

.c-hamburger__line::before {
	background-color: #fff;
	border-radius: 0.0625rem;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	width: 100%;
}

.c-hamburger__line::after {
	background-color: #fff;
	border-radius: 0.0625rem;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	width: 100%;
}

/***** メニューオープン時 *****/

.c-hamburger.is-open .c-hamburger__line {
	background-color: transparent;
}

.c-hamburger.is-open .c-hamburger__line::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.c-hamburger.is-open .c-hamburger__line::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.c-section-title {
	position: relative;
	text-align: center;
}

.c-section-title__ja {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1;
	padding-top: 42px;
	padding-top: 2.625rem;
	text-align: none;
}

.c-section-title__en {
	color: #f9f871;
	font-family: "Noto Serif JP", serif;
	font-size: 50px;
	font-size: 3.125rem;
	font-weight: 300;
	left: 50%;
	letter-spacing: 0.04em;
	line-height: 1;
	opacity: 0.2;
	position: absolute;
	text-align: none;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.swiper-pagination {
	--swiper-theme-color: #F9F871 !important;
	bottom: auto !important;
	z-index: 0;
}

.swiper-pagination-bullet {
	--swiper-pagination-bullet-inactive-color: #c4c4c4;
	opacity: 1;
}

.swiper-wrapper .swiper-slide-active .swiper-img,
.swiper-wrapper .swiper-slide-duplicate-active .swiper-img,
.swiper-wrapper .swiper-slide-prev .swiper-img {
	-webkit-animation: zoomUp 10s linear 0s 1 normal both;
	animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper-wrapper .swiper-img img {
	display: block;
}

.swiper2 {
	overflow: hidden;
}

.c-top-btn {
	background: #fff;
	display: block;
	height: 45px;
	height: 2.8125rem;
	padding: 16.5px 10.5px;
	padding: 1.03125rem 0.65625rem;
	text-align: center;
	text-decoration: none;
	width: 45px;
	width: 2.8125rem;
}

.c-top-btn::after {
	border-left: 2px solid #333;
	border-top: 2px solid #333;
	content: "";
	display: inline-block;
	height: 18px;
	height: 1.125rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 18px;
	width: 1.125rem;
}

.c-top-btn:focus,
.c-top-btn:hover {
	background: #333;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.c-top-btn:focus::after,
.c-top-btn:hover::after {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	content: "";
	display: inline-block;
	height: 18px;
	height: 1.125rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 18px;
	width: 1.125rem;
}

.l-blog-article {
	margin-top: 78px;
	margin-top: 4.875rem;
}

.l-breadcrumb {
	margin-top: 8px;
	margin-top: 0.5rem;
}

.l-breadcrumb--detail {
	padding-top: 58px;
	padding-top: 3.625rem;
}

.l-contact {
	margin-top: 120px;
	margin-top: 7.5rem;
}

.l-header {
	background: rgba(17, 17, 17, .5);
	-webkit-box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, .25);
	box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, .25);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
	z-index: 10;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 540px;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-map {
	margin-top: 120px;
	margin-top: 7.5rem;
}

.l-news {
	margin-top: 24px;
	margin-top: 1.5rem;
	padding: 0 20px;
}

.l-pager {
	margin-top: 80px;
	margin-top: 5rem;
}

.l-pager2 {
	margin-top: 80px;
	margin-top: 5rem;
}

.l-relatives {
	margin-top: 120px;
	margin-top: 7.5rem;
}

.l-sub-404 {
	margin-top: 130px;
	margin-top: 8.125rem;
}

.l-sub-blog-archive {
	margin-top: 85px;
	margin-top: 5.3125rem;
}

.l-sub-blog-detail {
	margin-top: 78px;
	margin-top: 4.875rem;
}

.l-sub-contact {
	margin-top: 85px;
	margin-top: 5.3125rem;
}

.l-sub-content {
	margin-top: 85px;
	margin-top: 5.3125rem;
	width: 100%;
}

.l-sub-news {
	margin-top: 85px;
	margin-top: 5.3125rem;
}

.l-sub-news-single {
  margin: 170px 0;
  margin: 10.625rem 0;
}

.l-sub-overview {
	margin-top: 85px;
	margin-top: 5.3125rem;
}

.l-sub-works-detail {
	margin-top: 53px;
	margin-top: 3.3125rem;
}

.l-sub-works {
	margin-top: 120px;
	margin-top: 7.5rem;
}

.l-thanks {
	padding-top: 50px;
	padding-top: 3.125rem;
}

.l-top-blog {
	margin-top: 48px;
	margin-top: 3rem;
}

.l-top-btn {
	bottom: 30px;
	bottom: 1.875rem;
	display: block;
	position: fixed;
	right: 20px;
	right: 1.25rem;
	z-index: 10;
}

.l-top-content {
	margin-top: 101px;
	margin-top: 6.3125rem;
}

.l-top-news {
	margin-top: 24px;
	margin-top: 1.5rem;
}

.l-top-overview {
	margin-top: 71px;
	margin-top: 4.4375rem;
}

.l-top-works {
	margin-top: 71px;
	margin-top: 4.4375rem;
}

.p-blog-article__title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 1.75;
}

.p-blog-article__information {
	margin-top: 8px;
	margin-top: 0.5rem;
}

.p-blog-article img {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 16px;
	margin-top: 1rem;
	max-width: 100vw;
	width: 100vw;
}

.p-blog-article p {
	letter-spacing: 0.025em;
	line-height: 2.1875;
	margin-top: 16px;
	margin-top: 1rem;
}

.p-blog-article h2 {
	border-left: 3px solid #C4C4C4;
	border-left: 0.1875rem solid #C4C4C4;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: 16px;
	margin-top: 1rem;
	padding-left: 9px;
	padding-left: 0.5625rem;
}

.p-blog-article h3 {
	display: inline-block;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
	letter-spacing: 0.1111111111em;
	margin-top: 16px;
	margin-top: 1rem;
	padding-bottom: 3px;
	padding-bottom: 0.1875rem;
	position: relative;
}

.p-blog-article h3::after {
	background: -webkit-gradient(linear, left top, right top, from(#ffea2e), color-stop(33.6405529%, #ffea2e), color-stop(66.3594471%, #fff), to(#fff));
	background: linear-gradient(90deg, #ffea2e 0%, #ffea2e 33.6405529%, #fff 66.3594471%, #fff 100%);
	bottom: 0;
	content: "";
	height: 3px;
	height: 0.1875rem;
	left: 0;
	position: absolute;
	right: 0;
}

.p-blog-article ul {
	letter-spacing: 0.025em;
	line-height: 2.1875;
	margin-top: 16px;
	margin-top: 1rem;
}

.p-blog-article ul li::before {
	content: "・";
}

.p-blog-article ol {
	counter-reset: number 0;
	letter-spacing: 0.025em;
	line-height: 2.1875;
	margin-top: 16px;
	margin-top: 1rem;
}

.p-blog-article ol li::before {
	content: counter(number) " ";
	counter-increment: number 1;
}

.p-breadcrumb__items {
	letter-spacing: 0.0625em;
}

.p-breadcrumb__item {
	display: inline;
}

.p-breadcrumb__item:not(:last-child)::after {
	content: ">";
}

.p-card {
	display: block;
}

.p-card__img {
	position: relative;
	width: 100%;
}

.p-card__img::before {
	content: "";
	display: block;
	padding-top: 66.5671%;
}

.p-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-card__img::after {
	background: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-card__body {
	background: #fff;
	color: #333;
	padding: 4px 24px 16px;
	padding: 0.25rem 1.5rem 1rem;
}

.p-card:hover .p-card__body {
	background-color: #333;
	color: #fff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.p-card__title {
	color: none;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
	letter-spacing: 0.044em;
	line-height: 1.95;
	text-align: none;
}

.p-card__text {
	color: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.071em;
	line-height: 1.85;
	margin-top: 4px;
	margin-top: 0.25rem;
	text-align: none;
}

.p-card__info {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 8px;
	margin-top: 0.5rem;
}

.p-card__category {
	background-color: #ffea2e;
	color: #000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.071em;
	line-height: 1.85;
	min-width: 67px;
	min-width: 4.1875rem;
	padding: 0.5px;
	padding: 0.03125rem;
	text-align: center;
}

.p-card__date {
	color: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.071em;
	line-height: 1.85;
	text-align: center;
}

.p-cards__item + .p-cards__item {
	margin-top: 24px;
	margin-top: 1.5rem;
}

.p-cards__item {
	position: relative;
}

.p-cards__item--new::before {
	background: #FFBA6A;
	border-radius: 50%;
	color: #333;
	content: "New";
	height: 60px;
	height: 3.75rem;
	left: -15px;
	left: -0.9375rem;
	letter-spacing: 0.125em;
	line-height: 60px;
	line-height: 3.75rem;
	position: absolute;
	text-align: center;
	text-indent: 0.125em;
	top: -16px;
	top: -1rem;
	width: 60px;
	width: 3.75rem;
	z-index: 1;
}

.p-category__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 100%;
}

.p-category__item {
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125em;
	line-height: 1.438;
	margin-right: 12px;
	margin-right: 0.75rem;
	margin-top: 16px;
	margin-top: 1rem;
	padding: 3.5px 5.5px;
	padding: 0.21875rem 0.34375rem;
	text-align: center;
	text-transform: uppercase;
}

.p-category__items li a.current {
	background-color: #fff;
	color: #333;
}

.p-contact-text__text {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	font-size: 14px;
	font-size: 0.875rem;
	margin-top: 16px;
	margin-top: 1rem;
	padding: 10px 10px;
	padding: 0.625rem 0.625rem;
	width: 100%;
}

.p-contact-text__text:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.p-contact-textarea__text {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 0;
	font-size: 14px;
	font-size: 0.875rem;
	height: 250px;
	height: 15.625rem;
	margin-top: 16px;
	margin-top: 1rem;
	padding: 10px 10px;
	padding: 0.625rem 0.625rem;
	width: 100%;
}

.p-contact-textarea__text:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.p-contact {
	background: #3D3D3D;
	padding: 19px 0 64px;
	padding: 1.1875rem 0 4rem;
}

.p-contact__inner {
	padding: 0 20px;
}

.p-contact__wrapper {
	margin-top: 20px;
	margin-top: 1.25rem;
}

.p-contact__text {
	letter-spacing: 0.125em;
	line-height: auto;
}

.p-contact__btn {
	margin-top: 40px;
	margin-top: 2.5rem;
	text-align: center;
}

.p-content-box {
	position: relative;
	width: 50%;
}

.p-content-box::after {
	background: #fff;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-content-box:hover::after {
	opacity: 0.6;
	-webkit-transition: ease-in 0.3s;
	transition: ease-in 0.3s;
}

.p-content-box__img {
	position: relative;
	width: 100%;
}

.p-content-box__img::before {
	content: "";
	display: block;
	padding-top: 89.36%;
}

.p-content-box__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-content-box__img::after {
	background: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-content-box__body {
	left: 50%;
	padding: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.p-content-box__title {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: none;
	white-space: nowrap;
}

.p-footer-nav {
	text-align: center;
}

.p-footer-nav__item a {
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.075em;
	line-height: 1.5;
	padding: 4px 0;
	padding: 0.25rem 0;
	text-align: center;
}

.p-footer-nav__item a:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.p-footer {
	padding-bottom: 48px;
	padding-bottom: 3rem;
	padding-top: 48px;
	padding-top: 3rem;
	width: 100%;
}

.p-footer__logo {
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	width: 4.375rem;
}

.p-footer__copyright {
	font-size: 11px;
	font-size: 0.6875rem;
	letter-spacing: 0.1090909091em;
	margin-top: 32px;
	margin-top: 2rem;
	text-align: center;
}

.p-hamburger {
	z-index: 9999;
}

.p-header-nav {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	letter-spacing: 0.125em;
	line-height: 3;
	text-align: center;
	width: 100%;
}

.p-header-nav__items {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.p-header-nav__item {
	height: 100%;
	width: 100%;
}

.p-header-nav__item a {
	display: block;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.p-header-nav__item--white {
	display: block;
	position: relative;
}

.p-header-nav__item--white a:hover {
	color: #fff;
}

.p-header-nav__item--white:hover a::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.p-headerColor {
	background: #111 !important;
}

.p-header {
	height: 50px;
	height: 3.125rem;
}

.p-header__inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: inherit;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 21px;
	padding: 0 1.3125rem;
}

.p-header__logo {
	width: 70px;
	width: 4.375rem;
	z-index: 9999;
}

.p-header__nav {
	display: none;
	height: 100vh;
	left: 0;
	padding-top: 209px;
	padding-top: 13.0625rem;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
}

.p-header__nav.is-open {
	background-color: #111;
	display: block;
}

.p-information__date {
	display: inline-block;
	margin-right: 32px;
	margin-right: 2rem;
}

.p-information__category {
	border: 1px solid #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	padding: 6px 22px;
	padding: 0.375rem 1.375rem;
}

.p-map__inner {
	padding: 0;
}

.p-map__iframe {
	position: relative;
	width: 100%;
}

.p-map__iframe::before {
	content: "";
	display: block;
	padding-top: 80%;
}

.p-map__iframe iframe {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-mv {
	position: relative;
}

.p-mv__wrapper {
	height: 100vh;
}

.p-mv__img {
	-o-object-fit: cover;
	height: 100vh;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -10;
}

.p-mv__img::after {
	background: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-mv__img img {
	-o-object-fit: cover;
	-o-object-position: top;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.p-mv__block {
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 9999;
}

.p-mv__title {
	color: #fff;
	font-size: 28px;
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 0.017em;
	line-height: 1;
	text-align: center;
}

.p-mv__subtitle {
	color: #fff;
	display: block;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.025em;
	line-height: 1;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: center;
}

.p-news__title {
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	margin-top: 8px;
	margin-top: 0.5rem;
}

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	line-height: 1;
	margin-left: 12px;
	margin-left: 0.75rem;
	padding: 3px 6.55px;
	padding: 0.1875rem 0.409375rem;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-pagenavi .first,
.wp-pagenavi .last {
	letter-spacing: 0.125em;
	padding: 3px 11px;
	padding: 0.1875rem 0.6875rem;
}

.wp-pagenavi .first {
	margin-left: 0;
}

.wp-pagenavi .last {
	margin-left: 19px;
	margin-left: 1.1875rem;
	margin-right: 0;
}

.wp-pagenavi span.current {
	background-color: #fff;
	border-color: #fff;
	color: #333;
	margin-left: 19px;
	margin-left: 1.1875rem;
}

.p-pager2 {
	text-align: center;
}

.p-pager2__btn {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	line-height: 1;
	padding-bottom: 3px;
	padding-bottom: 0.1875rem;
	padding-top: 3px;
	padding-top: 0.1875rem;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
	width: 71px;
	width: 4.4375rem;
}

.p-pager2__btn:not(:last-child) {
	margin-right: 48px;
	margin-right: 3rem;
}

.p-relatives__title {
	border: 1px solid #fff;
	font-weight: 300;
	letter-spacing: 0.125em;
	padding-bottom: 10px;
	padding-bottom: 0.625rem;
	padding-top: 9px;
	padding-top: 0.5625rem;
	text-align: center;
}

.p-relateves__cards {
	margin-top: 32px;
	margin-top: 2rem;
}

.p-sub-404__body {
	letter-spacing: 0.125em;
}

.p-sub-404__head {
	color: #ffea2e;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 0.875;
	opacity: 0.3;
	text-align: center;
}

.p-sub-404__text {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: auto;
	margin-top: 80px;
	margin-top: 5rem;
	text-align: center;
}

.p-sub-404__text span {
	display: inline-block;
}

.p-sub-404__btn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-top: 5rem;
	width: 360px;
	width: 22.5rem;
}

.p-sub-blog-archive__main {
	width: 100%;
}

.p-sub-blog-archive__items {
	margin-top: 37px;
	margin-top: 2.3125rem;
}

.p-sub-blog-detail {
	width: 100%;
}

.p-sub-contact__title {
	color: #fff;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 1.714;
	margin-top: 32px;
	margin-top: 2rem;
	text-align: none;
}

.p-sub-contact__btn {
	margin-top: 48px;
	margin-top: 3rem;
	text-align: center;
}

.p-sub-content__main-title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-align: center;
	text-indent: 0.1em;
}

.p-sub-content__description {
	letter-spacing: 0.125em;
	margin-top: 16px;
	margin-top: 1rem;
	text-indent: 0.125em;
}

.p-sub-content__items {
	margin-top: 80px;
	margin-top: 5rem;
}

.p-sub-content__item + .p-sub-content__item {
	margin-top: 48px;
	margin-top: 3rem;
}

.p-sub-content__image {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	position: relative;
}

.p-sub-content__image::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-sub-content__image img {
	-o-object-fit: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-sub-content__heading {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: center;
	text-indent: 0.1em;
}

.p-sub-content__explanation {
	font-weight: 300;
	letter-spacing: 0.125em;
	margin-top: 16px;
	margin-top: 1rem;
	text-indent: 0.125em;
}

.p-sub-mv__wrapper {
	height: 425px;
	height: 26.5625rem;
	position: relative;
}

.p-sub-mv__img {
	-o-object-fit: cover;
	height: 425px;
	height: 26.5625rem;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -10;
}

.p-sub-mv__img::after {
	background: #111111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-sub-mv__img img {
	-o-object-fit: cover;
	-o-object-position: top;
	height: 100%;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.p-sub-mv__block {
	color: #fff;
	display: block;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-mv__title {
	font-size: 28px;
	font-size: 1.75rem;
	font-weight: bold;
	letter-spacing: 1px;
	letter-spacing: 0.0625rem;
	line-height: 1;
}

.p-sub-news__item + .p-sub-news__item {
	margin-top: 32px;
	margin-top: 2rem;
}

.p-sub-overview__item {
	border-bottom: 1px solid #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 18px 0;
	padding: 1.125rem 0;
}

.p-sub-overview__term {
	color: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: none;
	line-height: 1.615;
	margin-left: 5px;
	margin-left: 0.3125rem;
	margin-right: 57px;
	margin-right: 3.5625rem;
	max-width: 52px;
	max-width: 3.25rem;
	text-align: none;
	width: 100%;
}

.p-sub-overview__description {
	color: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: none;
	line-height: 1.846;
	max-width: 221px;
	max-width: 13.8125rem;
	text-align: none;
	width: 100%;
}

.p-works-article__information.p-information {
	margin-top: 16px;
	margin-top: 1rem;
}

.p-sub-works-detail__gallery {
	margin: 0 calc(50% - 50vw);
	margin-top: 16px;
	margin-top: 1rem;
	position: relative;
	width: 100vw;
}

.p-sub-works-detail__swiper {
	margin-left: auto;
	margin-right: auto;
}

.js-gallery-slider,
.js-gallery-thumbs {
	overflow: hidden;
}

.p-sub-works-detail__img {
	position: relative;
	width: 100%;
}

.p-sub-works-detail__img::before {
	content: "";
	display: block;
	padding-top: 66.9333%;
}

.p-sub-works-detail__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-works-detail__img::after {
	background-color: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-sub-works-detail__img2 {
	position: relative;
	width: 100%;
}

.p-sub-works-detail__img2::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.p-sub-works-detail__img2 img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-sub-works-detail__img2::after {
	background-color: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.js-gallery-thumbs {
	margin-top: 32px;
	margin-top: 2rem;
}

.js-gallery-thumbs .swiper-slide {
	max-width: 168px;
	max-width: 10.5rem;
	width: 100%;
}

.p-sub-works__body {
	margin-top: 32px;
	margin-top: 2rem;
}

.p-sub-works-detail__title {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 1.75;
	text-align: none;
}

.p-sub-works__point + .p-sub-works__point {
	margin-top: 32px;
	margin-top: 2rem;
}

.p-point__title {
	background-color: #111;
	border: 1px solid #fff;
	border-radius: 32px;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 1.75;
	margin-left: 24px;
	margin-left: 1.5rem;
	padding: 8px 24px;
	padding: 0.5rem 1.5rem;
	text-align: none;
}

.p-point__text {
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 2.1875;
	margin-top: -26px;
	margin-top: -1.625rem;
	padding: 56px 10px 33px;
	padding: 3.5rem 0.625rem 2.0625rem;
	text-align: none;
}

.swiper-button-prev {
	background-color: #111;
	background-image: none;
	border-radius: 50%;
	height: 30px;
	height: 1.875rem;
	margin-top: -100px;
	margin-top: -6.25rem;
	outline: none;
	top: 50%;
	width: 30px;
	width: 1.875rem;
	z-index: 1;
}

.swiper-button-prev:after {
	border-right: 3px solid #ffea2e;
	border-top: 3px solid #ffea2e;
	content: "";
	height: 14px;
	height: 0.875rem;
	margin-left: 5px;
	margin-left: 0.3125rem;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	width: 14px;
	width: 0.875rem;
}

.swiper-button-next {
	background-color: #111;
	background-image: none;
	border-radius: 50%;
	height: 30px;
	height: 1.875rem;
	margin-top: -100px;
	margin-top: -6.25rem;
	outline: none;
	top: 50%;
	width: 30px;
	width: 1.875rem;
	z-index: 1;
}

.swiper-button-next:after {
	border-right: 3px solid #ffea2e;
	border-top: 3px solid #ffea2e;
	content: "";
	height: 14px;
	height: 0.875rem;
	margin-right: 5px;
	margin-right: 0.3125rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 14px;
	width: 0.875rem;
}

.p-sub-works {
	width: 100%;
}

.p-sub-works__items {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 16px;
	margin-top: 1rem;
}

.p-sub-works__item + .p-sub-works__item {
	margin-top: 48px;
	margin-top: 3rem;
}

.p-test {
	color: red;
	font-size: 20px;
	font-size: 1.25rem;
}

.p-thanks {
	text-align: center;
}

.p-thanks__title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: 80px;
	margin-top: 5rem;
}

.p-thanks__message {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: 80px;
	margin-top: 5rem;
}

.p-thanks__btn {
	margin-top: 80px;
	margin-top: 5rem;
}

.p-top-blog__head {
	position: relative;
}

.p-top-blog__wrapper {
	margin-top: 64px;
	margin-top: 4rem;
}

.p-top-blog__btn {
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: center;
}

.p-top-content__line-top {
	position: relative;
}

.p-top-content__line-top::after {
	background-color: #f9f871;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 16px;
	-webkit-transform: rotate(61.09deg);
	transform: rotate(61.09deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 206.93vw;
	z-index: -1;
}

.p-top-content__head {
	position: relative;
}

.p-top-content__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 52px;
	margin-top: 3.25rem;
}

.p-top-news {
	padding: 0 20px;
}

.p-top-news__btn {
	margin-top: 28px;
	margin-top: 1.75rem;
}

.p-top-overview__line-bottom {
	position: relative;
}

.p-top-overview__line-bottom::after {
	background-color: #f9f871;
	content: "";
	height: 1px;
	left: 63%;
	position: absolute;
	top: -72px;
	-webkit-transform: rotate(105.05deg);
	transform: rotate(105.05deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 386.13vw;
	z-index: -1;
}

.p-top-overview__head {
	position: relative;
}

.p-top-overview__wrapper {
	margin-top: 51px;
	margin-top: 3.1875rem;
}

.p-top-overview__img {
	position: relative;
	width: 100%;
}

.p-top-overview__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-top-overview__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-top-overview__img::after {
	background-color: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-overview__body {
	background-color: #333;
	padding: 34px 20px 21px;
	padding: 2.125rem 1.25rem 1.3125rem;
	text-align: center;
}

.p-top-overview__text-title {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: none;
}

.p-top-overview__text {
	color: #fff;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125em;
	line-height: 1.5;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: left;
}

.p-top-overview__btn {
	margin-top: 26px;
	margin-top: 1.625rem;
}

.p-top-works__head {
	position: relative;
}

.p-top-works__wrapper {
	margin-top: 50px;
	margin-top: 3.125rem;
}

.p-top-works__img {
	position: relative;
	width: 100%;
}

.p-top-works__img::after {
	background-color: #111;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-works__body {
	background-color: #333;
	padding: 34px 20px 21px;
	padding: 2.125rem 1.25rem 1.3125rem;
	text-align: center;
}

.p-top-works__text-title {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: none;
}

.p-top-works__text {
	color: #fff;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125em;
	line-height: 1.5;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: left;
}

.p-top-works__btn {
	margin-top: 26px;
	margin-top: 1.625rem;
}

.p-works-card {
	display: block;
	position: relative;
	width: 100%;
}

.p-works-card__image {
	position: relative;
	width: 100%;
}

.p-works-card__image::before {
	content: "";
	display: block;
	padding-top: 66.4%;
}

.p-works-card__image img {
	-o-object-fit: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-works-card__label {
	background-color: #111;
	letter-spacing: 0.125em;
	padding: 8px 20px;
	padding: 0.5rem 1.25rem;
	position: absolute;
	right: 0;
	text-indent: 0.125em;
	top: 0;
}

.p-works-card__title {
	color: #fff;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: center;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4545454545vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

a:hover {
	opacity: 0.8;
}

.c-btn {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.125em;
	padding-bottom: 1.125rem;
	padding-top: 1.125rem;
	text-indent: 0.125em;
	width: 22.5rem;
}

.c-btn--normal::before {
	background-color: #fff;
	border: 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: -1;
}

.c-btn:hover {
	color: #000;
}

.c-btn:hover::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.c-btn--pc-small {
	background-color: #fff;
	border: 0;
	color: #000;
	font-size: 1rem;
	padding-bottom: 0.1875rem;
	padding-top: 0.1875rem;
	width: 8.375rem;
}

.c-btn--pc-small::before {
	background-color: #333;
	border: 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: -1;
}

.c-btn--pc-small:hover {
	color: #fff;
}

.c-btn--submit::before {
	background-color: #333;
	border: 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: -1;
}

.c-btn--submit:hover {
	color: #fff;
	opacity: 0.8;
}

.c-hamburger {
	display: none;
}

.c-section-title__ja {
	font-size: 1.875rem;
	letter-spacing: 0.067em;
	line-height: 1.167;
	padding-top: 1.375rem;
}

.c-section-title__en {
	font-size: 6.875rem;
	left: 0;
	letter-spacing: 0.018em;
	-webkit-transform: none;
	transform: none;
}

.c-section-title__en.c-section-title__en--right {
	left: auto;
	left: initial;
	right: 0;
}

.swiper2 {
	max-width: 34.8125rem;
	width: 100%;
}

.l-blog-article {
	margin-top: 5.6875rem;
}

.l-contact {
	margin-top: 9.375rem;
}

.l-footer {
	margin-top: 9.375rem;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-map {
	margin-top: 5rem;
}

.l-pager {
	margin-top: 6.5rem;
}

.l-pager2 {
	margin-top: 6.5rem;
}

.l-sub-404 {
	margin-top: 12.5rem;
}

.l-sub-blog-archive {
	margin-top: 7.1875rem;
}

.l-sub-blog-detail {
	margin-top: 5.6875rem;
}

.l-sub-contact {
	margin-top: 7.625rem;
}

.l-sub-content {
	margin-top: 4.3125rem;
}

.l-sub-news {
	margin-top: 4.3125rem;
}

.l-sub-works-detail {
	margin-top: 5.6875rem;
}

.l-sub-works {
	margin-top: 7.1875rem;
}

.l-thanks {
	min-height: calc(100vh - 8.15625rem);
}

.l-top-blog {
	margin-top: 9.375rem;
}

.l-top-content {
	margin-top: 11.25rem;
}

.l-top-news {
	margin-top: 2rem;
}

.l-top-overview {
	margin-top: 9.375rem;
}

.l-top-works {
	margin-top: 9.375rem;
}

.p-blog-article__inner.l-inner {
	max-width: 850px;
}

.p-blog-article__title {
	font-size: 1.4375rem;
	font-weight: 500;
	letter-spacing: 0.0173913043em;
	line-height: 1.5217391304;
}

.p-blog-article__information {
	margin-top: 1.5rem;
}

.p-blog-article img {
	margin-left: 0;
	margin-right: 0;
	margin-top: 2rem;
	width: 100%;
}

.p-blog-article p {
	margin-top: 1.5rem;
}

.p-blog-article h2 {
	margin-top: 1.5rem;
}

.p-blog-article h3 {
	margin-top: 1.5rem;
}

.p-blog-article ul {
	margin-top: 1.5rem;
}

.p-blog-article ol {
	margin-top: 1.5rem;
}

.p-card__body {
	padding: 0.5625rem 1.5rem 1rem;
}

.p-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  width: 100%;
}

.p-cards__item + .p-cards__item {
	margin-top: 0;
}

.p-cards__item:nth-child(n+4) {
	margin-top: 3rem;
}

.p-cards__item--small:nth-child(4) {
	margin-top: 0;
}

.p-cards__item:not(:nth-child(3n)) {
	margin-right: 2.2727272727%;
}

.p-cards__item--small:not(:nth-child(3n)) {
	margin-right: 0;
}

.p-cards__item--small:not(:nth-child(4n)) {
	margin-right: 2.9090909091%;
}

.p-cards__item {
	width: 31.8181818182%;
}

.p-cards__item--small {
	width: 22.8181818182%;
}

.p-cards__item--small .p-card__text {
	display: none;
}

.p-contact-text__text {
	margin-top: 0;
	width: 33.75rem;
}

.p-contact-textarea__text {
	margin-top: 0;
	width: 33.75rem;
}

.p-contact {
	padding: 4.8125rem 0 9.3125rem;
}

.p-contact__inner {
	padding: 0 25px;
}

.p-contact__head {
	margin: 0 auto;
	max-width: 74.375rem;
	padding: 0 25px;
	width: 100%;
}

.p-contact__wrapper {
	margin-top: 3.75rem;
}

.p-contact__text {
	margin-top: 0;
	text-align: center;
}

.p-contact__btn {
	margin-top: 4.1875rem;
}

.p-content-box__img::before {
	padding-top: 100%;
}

.p-content-box__title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
}

.p-footer-nav__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.p-footer-nav__item a {
	padding: 0 1rem;
	position: relative;
}

.p-footer-nav__item a::before {
	background-color: #ffea2e;
	bottom: -0.4375rem;
	content: "";
	height: 0.0625rem;
	left: 1rem;
	position: absolute;
	right: 0;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	width: calc(100% - 2rem);
}

.p-footer {
	padding: 2rem 2rem 1rem;
}

.p-footer__inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.p-footer__logo {
	margin-left: 0;
	margin-right: 0;
}

.p-footer__copyright {
	margin-top: 4.6875rem;
}

.p-header-nav {
	height: 100%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.p-header-nav__items {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100%;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.p-header-nav__item {
	width: auto;
}

.p-header-nav__item--white a {
	background-color: #fff;
	color: #333;
}

.p-header-nav__item a {
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}

.p-header-nav__item:nth-last-child(2) a {
	margin-right: 1rem;
}

.p-header-nav__item:not(.p-header-nav__item--white) a::after {
	background-color: #ffea2e;
	bottom: 0.5rem;
	content: "";
	height: 1px;
	left: -50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	width: calc(100% - 2rem);
}

.p-header-nav__item:not(.p-header-nav__item--white) a:hover::after {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.p-header-nav__item--white a {
	padding-left: 2rem;
	padding-right: 2rem;
}

.p-header-nav__item--white a::before {
	background-color: #333;
	border: 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: -1;
}

.p-header__inner {
	padding: 0 0 0 2rem;
}

.p-header__logo {
	width: 5.875rem;
}

.p-header__nav {
	display: block;
	height: inherit;
	padding-top: 0;
	position: static;
	position: initial;
	width: inherit;
}

.p-header__nav.is-open {
	background-color: transparent;
}

.p-information__category {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.p-map__iframe::before {
	padding-top: 33.3636%;
}

.p-mv__title {
	font-size: 3.125rem;
}

.p-mv__subtitle {
	font-size: 1.5625rem;
}

.p-news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.p-news__information {
	margin-right: 1rem;
	width: 31.6279069767%;
}

.p-news__title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: 0;
	padding-top: 0.4375rem;
}

.p-news__title a:hover {
	color: #f9f871;
}

.wp-pagenavi a:hover {
	background-color: #fff;
	border-color: #fff;
	color: #333;
}

.p-pager2__btn:hover {
	background-color: #fff;
	border-color: #fff;
	color: #333;
}

.p-relatives__title {
	background-color: #333;
}

.p-relateves__cards {
	margin-top: 5rem;
}

.p-sub-404__head {
	font-size: 3.75rem;
	letter-spacing: 0.03em;
	line-height: 0.583;
}

.p-sub-404__text {
	font-size: 1.875rem;
	letter-spacing: 0.06em;
	line-height: 1.16;
}

.p-sub-blog-archive__items {
	margin-top: 2.5rem;
}

.p-sub-contact__inner {
	width: 43.75rem;
}

.p-sub-contact__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-top: 2.8125rem;
}

.p-sub-contact__title {
	line-height: 1.85;
	margin-right: 1.5rem;
	margin-top: 0;
	padding-top: 0.5rem;
	text-align: right;
	width: 8.875rem;
}

.p-sub-contact__btn {
	margin-top: 3.5rem;
}

.p-sub-content__main-title {
	font-size: 1.5625rem;
	letter-spacing: 0.08em;
	text-indent: 0.08em;
}

.p-sub-content__description {
	margin-left: auto;
	margin-right: auto;
	width: 51.6363636364%;
}

.p-sub-content__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.p-sub-content__item:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.p-sub-content__item + .p-sub-content__item {
	margin-top: 6.5rem;
}

.p-sub-content__image {
	margin-left: 0;
	margin-right: 0;
	width: 50%;
}

.p-sub-content__text {
	width: 46.3636363636%;
}

.p-sub-content__heading {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	text-align: left;
	text-indent: 0.02em;
}

.p-sub-content__explanation {
	font-size: 1rem;
	letter-spacing: 0.03125em;
	line-height: 2.1875;
	text-indent: 0.03125em;
}

.p-sub-mv__title {
	font-size: 3.125rem;
}

.p-sub-news__inner.l-inner {
	max-width: 56.875rem;
}

.p-sub-overview__item {
	padding: 1.75rem 0;
}

.p-sub-overview__term {
	font-size: 1rem;
	line-height: 1.3125;
	margin-right: 6.5rem;
	max-width: 4rem;
}

.p-sub-overview__description {
	font-size: 1rem;
	letter-spacing: 0.0625;
	line-height: 1.5;
	max-width: 52.4375rem;
}

.p-sub-works-detail__inner.l-inner {
	max-width: 53.125rem;
}

.p-works-article__information.p-information {
	margin-top: 2rem;
}

.p-sub-works-detail__gallery {
	margin: 0;
	margin: initial;
	margin-top: 2rem;
	width: auto;
	width: initial;
}

.js-gallery-thumbs .swiper-slide {
	max-width: 5.8125rem;
}

.p-sub-works__body {
	margin-top: 5rem;
}

.p-sub-works__point + .p-sub-works__point {
	margin-top: 3rem;
}

.p-point__title {
	line-height: 1.5;
}

.swiper-button-prev {
	height: 3.125rem;
	width: 3.125rem;
}

.swiper-button-prev:after {
	height: 1.125rem;
	width: 1.125rem;
}

.swiper-button-next {
	height: 3.125rem;
	width: 3.125rem;
}

.swiper-button-next:after {
	height: 1.125rem;
	width: 1.125rem;
}

.p-sub-works__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: 0;
	margin-right: 0;
	margin-top: 2.5rem;
}

.p-sub-works__item {
	width: 47.7272727273%;
}

.p-sub-works__item + .p-sub-works__item {
	margin-top: 0;
}

.p-sub-works__item:nth-child(n+3) {
	margin-top: 7.125rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-thanks__title {
	font-size: 1.875rem;
	letter-spacing: 0.0666666667em;
	margin-top: 5rem;
}

.p-thanks__message {
	font-size: 1.875rem;
	letter-spacing: 0.0666666667em;
	margin-top: 5rem;
}

.p-thanks__btn {
	margin-left: auto;
	margin-right: auto;
	width: 22.5rem;
}

.p-top-blog__wrapper {
	margin-top: 2.9375rem;
}

.p-top-blog__btn {
	margin-top: 3rem;
}

.p-top-content__wrapper {
	margin: 0 auto;
	max-width: 74.375rem;
	width: 100%;
}

.p-top-content__line-top::after {
	top: -95px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 141.42vw;
}

.p-top-content__head {
	padding: 0 25px;
}

.p-top-content__items {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-top: 2.9375rem;
}

.p-top-news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 65.125rem;
	width: 100%;
}

.p-top-news__wrapper {
	width: 86.3723608445%;
}

.p-top-news__btn {
	margin-top: 0rem;
	padding-top: 0.1875rem;
}

.p-top-overview__inner {
	margin: 0 auto;
	max-width: 74.375rem;
	padding: 0 25px;
	width: 100%;
}

.p-top-overview__line-bottom::after {
	left: 95%;
	top: -182px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	width: 141.25vw;
}

.p-top-overview__wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
	background: linear-gradient(270deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 2.875rem calc(50% - 50vw) 0;
	padding: 5rem calc(50vw - 50%);
	width: 100vw;
}

.p-top-overview__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-top-overview__body {
	background: none;
	margin-right: 2.0625rem;
	max-width: 31.875rem;
	padding: 0;
	text-align: left;
	width: 100%;
}

.p-top-overview__text-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	line-height: 1;
}

.p-top-overview__text {
	letter-spacing: 0.03em;
	line-height: 2.188;
}

.p-top-overview__btn {
	margin-top: 3rem;
}

.p-top-works__inner {
	margin: 0 auto;
	max-width: 74.375rem;
	padding: 0 25px;
	width: 100%;
}

.p-top-works__wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
	background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 2.875rem calc(50% - 50vw) 0;
	padding: 5rem calc(50vw - 50%);
	width: 100vw;
}

.p-top-works__swiper {
	position: relative;
}

.p-top-works__img {
	max-width: 34.8125rem;
	width: 100%;
}

.p-top-works__body {
	background: none;
	margin-left: 2.0625rem;
	max-width: 31.875rem;
	padding: 0;
	text-align: left;
	width: 100%;
}

.p-top-works__text-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	line-height: 1;
}

.p-top-works__text {
	letter-spacing: 0.03em;
	line-height: 2.188;
}

.p-top-works__btn {
	margin-top: 3rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}

@-webkit-keyframes zoomUp {

0% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

100% {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

100% {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

}


/*# sourceMappingURL=style.css.map */
